<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/img/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption" ng-controller="PlayerController">
              <h1>
              <div ng-controller="StoryController">
              	 
                 <font color="white">Here is where you pick from one of the {{stories.length}} stories, a language, and a difficulty level. 
                </font>
        
                <a class="btn btn-large btn-primary" ng-click="" href="#quests" name="Play Story">Play Story</a>
              </div>
              </h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/img/examples/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption" ng-controller="GameController">
              <h1>This is the page that will show all the locked movies. </h1>
              <a class="btn btn-large btn-primary" href="#quests">Start</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/img/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>This will be the screen where you play the game.</h1>
              <a class="btn btn-large btn-primary" href="#quests">Play Game</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/img/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>This will be the screen you see when you save your game. It will show all your games in progress.</h1>
              <a class="btn btn-large btn-primary" href="#quests">Play Game</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

